<header class="container">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/img/materia-logo.svg" alt="Materia" title="Materia" width="152" height="27"></a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="dropdown" id="student-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Player Guide<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								{% include menu_list.html collection=site.players %}
							</ul>
						</li>
						<li class="dropdown" id="instructors-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Author Guide<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								{% include menu_list.html collection=site.authors %}
							</ul>
						</li>
						<li class="dropdown" id="admin-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Administrators	<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								{% include menu_list.html collection=site.administrators %}
							</ul>
						</li>
						<li class="dropdown" id="developers-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Developers	<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								{% include menu_list.html collection=site.developers %}
							</ul>
						</li>
						<li class="dropdown" id="support-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								Support	<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								{% include menu_list.html collection=site.support %}
							</ul>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
</header>
